.foto-banner-banda-container {
    background: rgb(255, 253, 253);
    width: 100%;
    height: 500px;

}

.foto-banner-banda {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-banner-banda img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}