@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --red: #881014;
  --black: #000000;
  --white: #FCFCFC;
  --azul: #254184;
  --font-text: "Poppins", sans-serif;
  --font-title: "Inter", sans-serif;
  --font-400: 400;
  --font-500: 700;
  --font-600: 900;
  --size-title: 4rem;
  --size-text: 3rem;
  --size-subtitle: 2rem;
  --size-min: 1.5rem;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: var(--font-title);
}

/* SCROLL  */
html::-webkit-scrollbar{
    width: 0;
}
