@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-red: #881014;
  --color-black: #000000;
  --color-white: #FCFCFC;
  --color-blue: #254184;

  --font-family-text: "Poppins", sans-serif;
  --font-family-title: "Inter", sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 700;
  --font-weight-bold: 900;

  --size-title: 4rem;
  --size-text: 3rem;
  --size-subtitle: 2rem;
  --size-min: 1.5rem;
  --size-icon-large: 2rem;

  --red: var(--color-red);
  --black: var(--color-black);
  --white: var(--color-white);
  --blanco: var(--color-white);
  --negro: var(--color-black);
  --azul: var(--color-blue);

  --font-text: var(--font-family-text);
  --font-title: var(--font-family-title);
  --font-400: var(--font-weight-regular);
  --font-500: var(--font-weight-medium);
  --font-600: var(--font-weight-bold);
  --font-size-extra-large: var(--size-icon-large);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: var(--font-title);
  background: var(--black);

    color: var(--white);
}

/* SCROLL  */
html::-webkit-scrollbar{
    width: 0;
}
